<h1>Much :TODO About Nothing</h1>

<div>
  <input>
  <button>DO IT!</button>
</div>

<ng-template *ngFor="let task of paginationService.paginate(taskService.allTasks)">


</ng-template>
<!-- start of pagination buttons-->
<nav>
  <ul class="holder holder--j-center pagination--row">
    <li class="" style="margin-right: 12px;">
      <button
        class="button__pagination button__pagination--active"
        (click)="paginationService.page = 1"
        style="width: 100%;"
      >
        FIRST
      </button>
    </li>
    <li class="">
      <button
        class="button__pagination--button"
        (click)="paginationService.page === 1? paginationService.page = 1: paginationService.page =paginationService.page - 1"
      >
        <mat-icon
          class="button__pagination--icon"
          style="padding-left: 5px;"
          >arrow_back_ios</mat-icon
        >
      </button>
    </li>
    <li class="">
      <button
        [class]="
          paginationService.page === pageNumber
            ? 'button__pagination--active'
            : ''
        "
        class="button__pagination"
        *ngFor="
          let pageNumber of paginationService.pages.slice(
            math.max(
              0,
              paginationService.page -
                (paginationService.page === paginationService.pages.length
                  ? 3
                  : 2)
            ),
            math.min(
              paginationService.pages.length,
              paginationService.page +
                (paginationService.page <= 1
                  ? 2
                  : 1)
            )
          )
        "
        (click)="paginationService.page = pageNumber"
      >
        {{ pageNumber }}
      </button>
    </li>

    <li class="">
      <button
        class="button__pagination--button"
        (click)="paginationService.page === paginationService.pages.length? paginationService.page = paginationService.pages.length: paginationService.page = paginationService.page + 1"
        style="padding-left: 5px;"
      >
        <mat-icon class="button__pagination--icon"
          >arrow_forward_ios</mat-icon
        >
      </button>
    </li>
    <li class="" style="margin-left: 12px;">
      <button
        class="button__pagination button__pagination--active"
        (click)="paginationService.page = paginationService.pages.length"
      >
        LAST
      </button>
    </li>
  </ul>
</nav>
<!-- end of pagination buttons-->
