<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<header class="header">
  <nav>
    <mat-toolbar style="background-color: #212121;">
      <a
        *ngIf="!auth.isAuthenticated()"
        [routerLink]="['/']"
        class="image__brand image__brand--stay-left"
        ><img
          class="image"
          src="../../../../assets/logo/transWhiteLogo.svg"
          alt="Choose Your Own Game logo"
        />
      </a>
      <a
        *ngIf="auth.isAuthenticated()"
        [routerLink]="['/user/profile']"
        class="image__brand"
        ><img
          class="image"
          src="../../../../assets/logo/transWhiteLogo.svg"
          alt="Choose Your Own Game logo"
      /></a>
      <div *ngIf="!auth.isAuthenticated()" class="small-login">
        <a
          [routerLink]="['/signup']"
          mat-raised-button
          class="btn waves-effect waves-light"
          color="primary"
          class="button--m-auto"
          style="margin: 0 10px;"
        >
          Signup
        </a>
        <a
          [routerLink]="['/login']"
          mat-raised-button
          class="btn waves-effect waves-light"
          color="accent"
          class="button--m-auto"
        >
          Login
        </a>
      </div>
      <div class="left-header" *ngIf="auth.isAuthenticated()">
        <button mat-button [matMenuTriggerFor]="compete">Compete</button>
        <button mat-button [matMenuTriggerFor]="manage">Manage</button>

        <mat-menu #compete="matMenu">
          <button mat-menu-item [routerLink]="['/tournament/all-tournaments']">
            Tournaments
          </button>
          <button mat-menu-item [routerLink]="['/league/all-leagues']">
            Leagues
          </button>
          <button mat-menu-item [routerLink]="['/match/all-matches']">
            Matches
          </button>
        </mat-menu>
        <mat-menu #manage="matMenu">
          <button mat-menu-item [routerLink]="['/team']">
            Teams
          </button>
          <!-- <button mat-menu-item [routerLink]="['/company']">
            Companies
          </button> -->
        </mat-menu>
      </div>

      <div class="right-header" *ngIf="auth.isAuthenticated()">
        <button mat-button [routerLink]="['/store']">0 CYC</button>
        <button mat-button [matMenuTriggerFor]="language">
          <span class="material-icons">
            language
          </span>
          EN
        </button>
        <!-- <button mat-button [routerLink]="['/game/all-games']">Games</button> -->
        <button mat-button [matMenuTriggerFor]="account">
          <span class="material-icons">
            account_circle
          </span>
        </button>
        <mat-menu #language="matMenu">
          <button mat-menu-item>
            English
          </button>
        </mat-menu>
        <mat-menu #account="matMenu">
          <button mat-menu-item [routerLink]="['/avatar/main']">
            {{ auth.currentUser.username }}
          </button>
          <button mat-menu-item [routerLink]="['/user/settings']">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button>
          <button
            mat-menu-item
            class="button--danger"
            (click)="this.onHandleLogout()"
          >
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>

      <span class="menu-spacer" style="flex: 1 1 auto;"></span>

      <div>
        <div *ngIf="!auth.isAuthenticated()">
          <header-user-login></header-user-login>
        </div>
        <mat-nav-list *ngIf="auth.isAuthenticated()">
          <button
            class="toolbar__icon-button hamburger"
            [matMenuTriggerFor]="menu"
            mat-icon-button
          >
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              *ngIf="!auth.isAuthenticated()"
              mat-menu-item
              [routerLink]="['/user/login']"
            >
              <mat-icon>get_app</mat-icon>
              <span>Login</span>
            </button>

            <button
              *ngIf="auth.isAuthenticated()"
              mat-menu-item
              [routerLink]="['/search']"
            >
              <mat-icon>search</mat-icon>
              <span>Search</span>
            </button>

            <button
              *ngIf="auth.isAuthenticated()"
              mat-menu-item
              [routerLink]="['/tournament/all-tournaments']"
            >
              <mat-icon>device_hub</mat-icon>
              <span>Tournaments</span>
            </button>

            <button
              *ngIf="auth.isAuthenticated()"
              mat-menu-item
              [routerLink]="['/league/all-leagues']"
            >
              <mat-icon>format_list_numbered</mat-icon>
              <span>Leagues</span>
            </button>

            <button
              *ngIf="auth.isAuthenticated()"
              mat-menu-item
              [routerLink]="['/match/all-matches']"
            >
              <mat-icon>vertical_align_center</mat-icon>
              <span>Matches</span>
            </button>

            <button
              *ngIf="auth.isAuthenticated()"
              mat-menu-item
              [routerLink]="['/team/all-teams']"
            >
              <mat-icon>group</mat-icon>
              <span>Teams</span>
            </button>
            <!-- <button
              *ngIf="auth.isAuthenticated()"
              mat-menu-item
              [routerLink]="['/company/all-companies']"
            >
              <mat-icon>perm_contact_calendar</mat-icon>
              <span>Companies</span>
            </button> -->
          </mat-menu>
        </mat-nav-list>
      </div>

      <button
        *ngIf="auth.isAuthenticated()"
        mat-button
        class="right-small-menu"
        [matMenuTriggerFor]="account"
      >
        <span class="material-icons">
          account_circle
        </span>
      </button>
      <mat-menu #account="matMenu">
        <button
          *ngIf="auth.isAuthenticated()"
          mat-menu-item
          [routerLink]="['/avatar/main']"
        >
          <span>{{ auth.currentUser.username }}</span>
        </button>
        <!-- <button mat-menu-item [routerLink]="['/game/all-games']">
          <mat-icon>games</mat-icon>
          Games
        </button> -->
        <button mat-menu-item [routerLink]="['/user/settings']">
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <button
          mat-menu-item
          class="button--danger"
          (click)="this.onHandleLogout()"
        >
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>
  </nav>
</header>

