:root {
  --color-one: #2c2c2c; /** black **/
  --color-two: #bb86fc; /** purple **/
  --color-three: #03dac5; /** blueish thing **/
  --color-four: #cf6679; /** red warn **/
  --color-five: #88bbd6; /** fresh water **/
  --color-six: #cdcdcd; /** plaster **/
  --primary: #CC33CA;
  --text-color: #000; /**black text color **/
  --danger: #ff5c5c; /** event finished **/
  --warning: #fff96d; /** event in progress **/
  --success: #03dac4; /** event open **/
}
