<footer class="footer" color="primary">
  <div class="holder holder--a-center holder--j-center">
    <a href="https://twitter.com/CYOG_Official" target="_blank"
      ><i
        class="fab fa-twitter"
        style="margin: 0 16px; color: #cc33ca; font-size: 18px;"
      ></i
    ></a>
    <a href="" target="_blank"
      ><i
        class="fab fa-facebook-f"
        style="margin: 0 16px; color: #cc33ca; font-size: 18px;"
      ></i
    ></a>
    <a href="https://www.twitch.tv/chooseyourowngameinc" target="_blank"
      ><i
        class="fab fa-twitch"
        style="margin: 0 16px; color: #cc33ca; font-size: 18px;"
      ></i
    ></a>
    <a href="https://www.reddit.com/user/ChooseYourOwnGame/" target="_blank"
      ><i
        class="fab fa-reddit-alien"
        style="margin: 0 16px; color: #cc33ca; font-size: 18px;"
      ></i
    ></a>
    <a href="https://www.linkedin.com/company/cyog/" target="_blank"
      ><i
        class="fab fa-linkedin-in"
        style="margin: 0 16px; color: #cc33ca; font-size: 18px;"
      ></i
    ></a>
  </div>
  <div class="holder full-footer">
    <div class="holder holder--dis-col holder--center footer__box">
      <h4
        class="title--white title--micro title--center noselect"
      >
        Compete
      </h4>
      <a
        [routerLink]="['/tournament/all-tournaments']"
        class="noselect footer--link"
        >Tournament</a
      >
      <a [routerLink]="['/league/all-leagues']" class="noselect footer--link"
        >Leagues</a
      >
      <a [routerLink]="['/match/all-matches']" class="noselect footer--link"
        >Matches</a
      >
    </div>
    <div class="footer__box--b-r"></div>
    <div class="holder holder--dis-col holder--center footer__box">
      <h4
        class="title--white title--micro title--center noselect"
      >
        Manage
      </h4>
      <a [routerLink]="['/user/settings']" class="noselect footer--link"
        >Account</a
      >
      <a [routerLink]="['/team']" class="noselect footer--link">Teams</a>
      <!-- <a [routerLink]="['/company']" class="noselect footer--link">Companies</a> -->
    </div>
    <div class="footer__box--b-r footer__box--b-r--res"></div>
    <div class="holder holder--dis-col holder--center footer__box">
      <h4 class="title--white title--micro title--center noselect">Company</h4>
      <a [routerLink]="['/about-us']" class="noselect footer--link">About Us</a>
      <a [routerLink]="['/partners']" class="noselect footer--link">Partners</a>
      <a [routerLink]="['/faq']" class="noselect footer--link">FAQ</a>
      <a [routerLink]="['/changelog']" class="noselect footer--link"
        >Changelog</a
      >
      <!-- <a [routerLink]="['/site-map']" class="noselect footer--link">Site Map</a> -->
    </div>
    <div class="footer__box--b-r"></div>
    <div class="holder holder--dis-col holder--center footer__box">
      <h4 class="title--white title--micro title--center noselect">Legal</h4>
      <a [routerLink]="['/privacy-policy']" class="noselect footer--link"
        >Privavcy Policy</a
      >
      <a [routerLink]="['/terms-of-use']" class="noselect footer--link"
        >Terms of Use</a
      >
      <a [routerLink]="['/cookie-policy']" class="noselect footer--link"
        >Cookie Policy</a
      >
    </div>
  </div>

  <p class="content content--small-text noselect footer--link">
    Choose Your Own Game Inc (CYOG) or any party hereby/thereby representing
    CYOG intends no copyright ownership over any data that is given or otherwise
    connected with itself and/or themselves. The individuals/groups using this
    site/app/thing should understand that the copyright of statistics offered
    through game material is the ownership of the original owner unless
    otherwise stated. This platform is intended for the use of sharing
    statistics, pwning noobs, and doing internet things in the kindest and
    friendliest manner. This platform is likewise intended for offering various
    tournaments, matches, and leagues as a service to the end user. CYOG will
    endeavor to not maintain personal identifiable information as we know about
    security best practices but are only human. We hope that you have an awesome
    day and stuff!
  </p>

  <h6 class="content content--small-text noselect">
    Copyright &copy; {{ currentYear }} Choose Your Own Game inc. - All rights
    reserved - Design by Natalie Isaacson & Fox Design Agency - version 0.0.7
  </h6>
</footer>
