footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  padding: 20px;
  width: 100%;
  margin-bottom: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (min-width: 316px) {

}

@media screen and (min-width: 400px) {

}

@media screen and (min-width: 485px) {

}

@media screen and (min-width: 600px) {

}

@media screen and (min-width: 850px) {

}
